<div class="banner-cocktail" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/1600x900/?<% @cocktail.name %>,cocktail)">
  <h1> <%= @cocktail.name %> </h1>
</div>

<div class="container">

  <div class="grid-ingredients-cocktail">

    <div class="card-ingredients-of-cocktail card-pink-border">

      <h2>Ingredients</h2>

      <% if @cocktail.doses.empty? %>
        <p>No ingredient yet.</p>
      <% else %>

        <ul>

          <% @cocktail.doses.each do |dose|%>

            <li>
              <span> <strong> <%= dose.ingredient.name %>: </strong> <%= dose.description %> </span>
              <%= link_to cocktail_dose_path(@cocktail,dose), method: "delete" do %>
                <i class="fas fa-trash"></i>
              <% end %>
            </li>

          <% end %>
        </ul>

      <% end %>

      <div id="btn-new-ingredient">
       <i class="fas fa-plus"></i> Add a new ingredient
      </div>


    </div>

    <div id = "form" class="card-new-dose card-pink-border hide">

      <h2>Add an ingredient</h2>

      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :description %>
        <%= f.association :ingredient, collection: Ingredient.all.order(:name), prompt: "Choose an ingredient", class: "select2"%>
        <%= f.button :submit, class:"btn-heavy" %>
      <% end %>

    </div>


  </div>

</div>




