<!DOCTYPE html>
<html>
  <head>
    <title>My Master Cocktail</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="content">

      <div class="navbar-master-cocktail">

        <%= link_to cocktails_path, class: "master-cocktails-link" do %>
          Master cocktail
        <% end %>
        <%= link_to new_cocktail_path, class: "add-cocktail" do %>
          Add a new cocktail
        <% end %>

      </div>

      <%= yield %>


      </div>

    </div>


    <footer class="footer-sticky footer-master-cocktail">
      Made with <i class="fas fa-heart"></i> at Le Wagon
    </footer>


    <%= javascript_include_tag "application" %> <!-- from app/assets/javascripts/application.js -->
    <%= javascript_pack_tag "application" %>    <!-- from app/javascript/packs/application.js -->

  </body>
</html>
